@import 'normalize';
@import 'device-mockups';

$snow-blue: #d4dee4;
$body-font-color: #DDD;
$header-letter-spacing: 3px;
$card-background: rgba(12, 12, 12, .965);//#0c0c0c;
@mixin striped-background {
  background-image: linear-gradient(-45deg, black 25%, transparent 25%, transparent 50%, black 50%, black 75%, transparent 75%, transparent);
  background-size: 4px 4px;
}

@mixin box-shadow {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


html {
  overflow: scroll;
  overflow-x: hidden;
}


html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  background: #222;
}

::-moz-selection {
  background: papayawhip;
  color: black;
}

::selection {
  background: papayawhip;
  color: black;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


p {
margin: 2px 0;
letter-spacing: .8px;
}

body {
  &.loading {
    overflow: hidden;
    .content {
      overflow-y: hidden;
    }
  }
}

@-webkit-keyframes grow {
  0% {
    top: 0;
    bottom: 100%;
  }
  25% {
    top: 0;
    bottom: 0;
  }
  50%{
    top: 100%;
    bottom: 0;
  }
  75% {
    top: 0;
    bottom: 0;
  }
  100% {
    top: 0;
    bottom: 100%;
  }
}

@keyframes grow {
  0% {
    top: 0;
    bottom: 100%;
  }
  25% {
    top: 0;
    bottom: 0;
  }
  50%{
    top: 100%;
    bottom: 0;
  }
  75% {
    top: 0;
    bottom: 0;
  }
  100% {
    top: 0;
    bottom: 100%;
  }
}

.content {
  position: fixed;
}

@-webkit-keyframes loader-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }

}

@keyframes loader-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
  }

}
@-webkit-keyframes loader-right {
  0% {
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
  }

  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}
@keyframes loader-right {
  0% {
    -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
  }

  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  visibility: visible;
  -webkit-transition: visibility;
  transition: visibility;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;


  > div {
    position: absolute;
    display: block;
    background: black;
    height: 100%;
    width: 50%;
    -webkit-transition: left .6s .6s, right .6s .6s;
    transition: left .6s .6s, right .6s .6s;
    // will-change: transform;
    // -webkit-transform: translateZ(0);
    //         transform: translateZ(0);
    &:first-of-type {
      // -webkit-transform: translateX(0);
      //         transform: translateX(0);
      left: 0;
    }
    &:nth-of-type(2) {
      right: 0;
    }
  }
  &:not(.stopped) {
    &::before {
      content: "LOADING";
      position: absolute;
      color: white;
      z-index: 20;
      font-family: Poppins;
      font-size: 20px;
      letter-spacing: 11px;
      left: 50%;
      top: 50%;
      opacity: 1;
      -webkit-transition: opacity .5s;
      transition: opacity .5s;
      -webkit-transform: rotate(270deg) translate(-50%, -50%);
              transform: rotate(270deg) translate(-50%, -50%);
      -webkit-transform-origin: -4%;
              transform-origin: -4%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 100%;
      width: 1px;
      opacity: 1;
      background: palevioletred;
      -webkit-transition: top .5s, bottom .5s, opacity .5s;
      transition: top .5s, bottom .5s, opacity .5s;
      -webkit-animation: grow 2s infinite reverse;
              animation: grow 2s infinite reverse;

    }
  }

  &.hidden {
    visibility: hidden;
    &::after {
      opacity: 0;
    }
    &::before {
      opacity: 0;
    }
    > div {
      &:first-of-type {
          left: -50%;
      }
      &:nth-of-type(2) {
        right: -50%;
      }
    }
  }
}

.scroller {
  position: fixed;
  height: 5px;
  background: palevioletred;
  z-index: 10;
}

.kevin__image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  > div {
    background: #212121 no-repeat 50% 0;
    background-image: url('../images/snow_tran.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @media (min-width: 944px) {
      &:after {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0)), to(rgba(0,0,0,.1)));
        background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.1));
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@-webkit-keyframes mouse-scroller {
  0% {
    opacity: 0;
  }

  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
}

@keyframes mouse-scroller {
  0% {
    opacity: 0;
  }

  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
}

.content {
  height: 100%;
  width: 100%;
  position: relative;

  .content__masthead {
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    .content__masthead-body {
      position: absolute;
      top: 60%;
      left: 10%;
      color: white;
      font-family: lato;
      h1 {
        font-size: 26px;
        font-weight: 300;
      }
      max-width: 270px;
      font-weight: 200;
      cursor: default;
      span {
        color: papayawhip;
        font-weight: bold;
        &:nth-of-type(2) {
          color: white;
        }
      }
    }



    .mouse {
      display: inline-block;
      height: 30px;
      width: 15px;
      border: 2px solid palevioletred;
      position: absolute;
      bottom: 20px;
      left: 50%;
      border-radius: 10px;
      text-align: center;
      .mouse__scroller {
        display: inline-block;
        width: 1px;
        height: 8px;
        background-color: palevioletred;
        will-change: transform;
        vertical-align: top;
        -webkit-animation-name: mouse-scroller;
                animation-name: mouse-scroller;
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-timing-function: cubic-bezier(.14,.56,.66,.93);
                animation-timing-function: cubic-bezier(.14,.56,.66,.93);
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        border-radius: 35px;
      }
    }
  }

  .section__header {
    font-family: 'Poppins';
    color: $snow-blue;
    min-height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    letter-spacing: $header-letter-spacing;
    cursor: default;
    @include striped-background;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .section__body {
    padding: 20px 25px;
    background: $card-background;
    color: $body-font-color;
    font-weight: 200;
    letter-spacing: .3px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 13px;
    cursor: default;
    font-family: lato;

    span {
      color: palevioletred;
      font-weight: bold;
    }
  }

  .below-the-fold  {
    padding-bottom: 30px;
    .content__background {
      section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 30px;
        .wrapper {
          color: $body-font-color;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          width: 600px;
          @include box-shadow;
          .section-header {
          }
        }
      }
    }
  }

  .content__about {
    .section__body {
      p {
        line-height: 23px;
        &:not(:first-of-type) {
          margin-top: 10px;
        }
      }
    }
  }

  .content__tech {
    .section__body {
      > div {
        line-height: 23px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        ul {
          list-style: square;
          &:first-of-type {
            padding-left: 5px;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .content__projects {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start!important;
        -ms-flex-pack: start!important;
            justify-content: flex-start!important;
    .projects__wrapper {
      .projects__header {
        @include striped-background;
        @include box-shadow;
        height: 50px;
        color: $snow-blue;
        text-align: center;
        line-height: 50px;
        font-size: 16px;
        letter-spacing: $header-letter-spacing;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
      }

      .projects__index {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .projects__index-item {
          @include box-shadow;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-top: 15px;
          color: $body-font-color;
          .project__title {
            @include striped-background;
            cursor: default;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            line-height: 40px;
            height: 40px;
            letter-spacing: $header-letter-spacing;
            color: papayawhip;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;

          }

          .project__info {
            position: relative;
            background: $card-background;
            // background: #0a0a0a;
            // background: rgba(0, 0, 0, 0.8);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .project__video {
              .device-mockup {
                .device {
                  width: 95%;
                  height: 95%;
                  margin: 10px auto;
                  .screen {
                    video {
                      width: 100%;
                    }
                  }
                }
              }
            }

            .project__info-left {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              padding: 5px 10px;
              -webkit-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
            }

            .project__logo {
              img {
                width: 100px;
              }
            }

            .project__description {
              color: #DDD;
              margin: 30px 15px;
              font-weight: 200;
              line-height: 23px;
              letter-spacing: .6px;
              font-family: lato;
              font-size: 13px;
              cursor: default;
            }
            .project__create-date {
              pointer-events: none;
              position: absolute;
              padding: 5px;
              border: 1px solid $body-font-color;
              letter-spacing: 2.1px;
              bottom: 30px;
              bottom: 15px;
            }
            .project__links{
              color: $body-font-color;
              margin: 20px 15px 60px;
              text-align: left;

              a {
                text-decoration: none;
                color: $body-font-color;
                -webkit-transition: color .15s;
                transition: color .15s;
                border-bottom: dotted 1px;
                &:hover {
                  color: palevioletred;
                }
              }
              span {
                margin: 5px;
              }
            }
          }
        }
      }
    }
  }

  .content__contact {
    .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 30px;
      margin-bottom: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      position: relative;
      @include box-shadow;
      .contact__left {
        height: 100%;
        padding: 50%;
        position: relative;
        img {
          height: 100%;
          width: 50%;
          top: 0;
          left: 0;
          bottom: 0;
          position: absolute;
        }

        > div {
          height: 100%;
          width: 100%;
          background: rgba(0,0,0,.9) no-repeat 50% 0;
          background-image: url(../images/oaktown.png);
          position: absolute;
          background-size: cover;
          top: 0;
          left: 0;
          &:after {
            content: "OAKLAND, CA";
            position: absolute;
            top: 45%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            color: palevioletred;
            letter-spacing: 2px;
            font-size: 2rem;
            white-space: nowrap;
          }
        }
      }
      .contact__right {
        color: $body-font-color;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        font-family: lato;

        header {
          height: 50px;
          @include striped-background;
          font-size: 16px;
          text-transform: uppercase;
          letter-spacing: 3px;
          line-height: 50px;
          text-align: center;
          color: $snow-blue;
        }
        .contact__items {
          height: calc(100% - 70px);
          background: $card-background;
          // background: rgba(0,0,0,.8);
          padding: 10px;
          > p {
            font-weight: 200;
            margin-top: 30px;
            margin-bottom: 50px;
          }
        }
        .contact__item {
          margin-bottom: 20px;
          p {
            color: $body-font-color;
            letter-spacing: 1.6px;
          }
          a {
            text-decoration: none;
            color: palevioletred;
            -webkit-transition: color .15s;
            transition: color .15s;
            display: block;
            margin: 10px 0 15px 35px;
            position: relative;
            &:hover {
              color: $body-font-color;
            }
            &::after {
              content: " ";
              width: 15px;
              position: absolute;
              height: 1px;
              left: -25px;
              background: white;
              top: 8px;
            }
            &::before {
              content: " ";
              width: 1px;
              position: absolute;
              height: 10px;
              left: -25px;
              background: white;
              top: -1px;
            }
          }
        }
      }

      .contact__social-media {
        font-family: FontAwesome;
        margin-top: 50px;
        margin-bottom: 60px;
        a {
          text-decoration: none;
          color: palevioletred;
          margin-right: 15px;
          font-size: 18px;
          -webkit-transition: color .15s;
          transition: color .15s;
          &:hover {
            color: $body-font-color;
          }
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .content {
    .content__masthead .content__masthead-body {
      h1 {
        font-size: 27px;
      }
    }
    .content__tech .section__body > div {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      ul {
        padding-left: 5px;
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .project__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      .project__logo {
        margin-top: 30px;
      }
      .project__description {
        margin-left: 25px!important;
        margin-right: 25px!important;
      }
      .project__links {
        margin: 20px 25px 60px!important;
      }
    }
  }
}

@media (min-width: 400px) {
  .content {
    .content__masthead .content__masthead-body {
      font-size: 29px;
      max-width: 300px;
    }
  }
}

@media only screen and (max-width: 525px) {
}
/* Larger than phablet */
@media (min-width: 525px) {

  .content {
    .content__masthead .content__masthead-body {
      max-width: 320px;
      h1 {
        font-size: 32px;
      }
    }

    .below-the-fold .content__background section {
      .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        .section__header {
          width: 50px;
          max-width: 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-size: 14px;
          > div {
            -webkit-transform: rotate(270deg);
                    transform: rotate(270deg);
          }
        }
        .section__body {
          width: 400px;
        }
      }
    }
    .content__projects {
      .projects__wrapper {
        .projects__header {
          font-size: 14px;
        }
        .projects__index {
          .projects__index-item {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            .project__title {
                width: 50px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: auto;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                > div {
                  -webkit-transform: rotate(270deg);
                          transform: rotate(270deg);
                }
            }

            .project__info {
              .project__links {
                height: 20px;
                margin-bottom: 30px;
              }
              .project__create-date {
                bottom: 30px;
                right: 20px;
              }
            }
          }
        }
      }
    }
    .content__contact {
      .wrapper {
        margin: 30px;
      }
    }
  }
}

@media (min-width: 665px) {
  .content .content__projects .projects__wrapper {
    width: 550px;
    margin-left: 50px;
    .projects__index .projects__index-item {

      &:not(:last-of-type) {
      }
    }
  }

  .content {
    .content__contact {
      .wrapper {
        width: 600px;
        margin: 0 auto;
        &::before {
          content: "";
          position: absolute;
          width: 3px;
          background: palevioletred;
          height: 452px;
          top: -452px;
          z-index: -1;
        }
      }
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .content {
    .content__masthead .content__masthead-body {
      max-width: 325px;
    }
    .content__contact {
      .wrapper {
        margin: 0 auto;
        .contact__left {
          width: 50%;
          position: absolute;
          padding: 0;
          top: 0;
          padding: 0;
          left: 0;
        }

        .contact__right {
          margin-left: 50%;
        }
      }
    }
  }
}

/* Larger than desktop */
@media (min-width: 1135px) {
  .content {
    .below-the-fold {
      .content__background {
        .wrapper {
          width: 500px!important;
        }
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        .projects__wrapper {
          width: 500px;
          margin-left: 0;
        }
      }
      .content__contact {
        .wrapper {
          width: 700px;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;

          &::before {
            height: 452px;
            top: -452px;
          }
        }
      }
    }
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
