@import url(font-awesome.min.css);

@font-face {
       font-family: "hn-thin";
       src: url('https://dl.dropboxusercontent.com/s/hiyy011wa9c7f7i/HelveticaNeueCyr-Thin.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
			font-family: "hn-medium";
			src: url('https://dl.dropboxusercontent.com/s/bez6n1sf4n705fh/HelveticaNeueCyr-Medium.otf') format("opentype");
			font-weight: normal;
			font-style: normal;
}
@font-face {
       font-family: "hn-ultra";
       src: url('https://dl.dropboxusercontent.com/s/8d8sst6cyozetcw/HelveticaNeueCyr-UltraLight.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "HN-Bold";
       src: url('https://dl.dropboxusercontent.com/s/ly9gkrm4n392fpj/HelveticaNeueCyr-Bold.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}

@font-face {
       font-family: "hn-light";
       src: url('https://dl.dropboxusercontent.com/s/q0l5zdddeg5gclu/HelveticaNeueCyr-Light.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
